/* -----------------------------------------------------------------------------

# Contact Page Styles

----------------------------------------------------------------------------- */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 720px;
    height: 70vh;
    min-height: 600px;
    margin: auto;

    .contact-header {
        position: relative;
        text-align: center;
        padding-bottom: 10px;

        &:after {
            position: absolute;
            content: "";
            right: 0;
            left: 0;
            bottom: 0;
            width: 100px;
            height: 5px;
            background-color: $primary-color;
            margin: 0 auto;
        }
    }

    p {
        text-align: center;
    }

    a {
        color: $text-color;
    }

    .contact-phone {
        font-size: 38px;
    }

    .contact-email {
        font-size: 28px;
    }
}

.contact-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.find-location p {
    color: $white-color;
    font-size: 40px;
    margin: 0;
    font-weight: 600;
    padding: 95px 0;

    i {
        margin-left: 10px;
        color: $primary-color;
    }
}
